header {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;

  .brand {
    display: flex;

    .guy {
      height: 185px;
      position: relative;
      top: 50px;
    }

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 30px;
    }
  }

  nav {
    display: flex;

    .link {
      color: var(--white);
      cursor: pointer;
      font-size: 18px;
      margin: 15px 60px 0 0;
      text-decoration: none;
      &:hover {
        color: var(--button-red);
      }
      &:visited {
        color: unset;
      }
    }
  }
}
