<div
  [class]="isMediumWidth ? 'mediumWidth' : isMobile ? 'mobile' : 'container'"
>
  <div class="text">
    <h2>
      Personalized and Personable Residential and Commercial Cleaning in Houston
    </h2>
    <h5>
      We’re TeamRevvedUp and we’re ready to personalize your cleaning needs. No
      job is too big or small, so reach out to us today to request an in-home
      demonstration.
    </h5>
    <app-button text="Get in Touch" (click)="goTo('contact')"></app-button>
  </div>
  <div class="img">
    <img src="../../../assets/team.jpg" alt="team" />
  </div>
</div>
