.container,
.medium,
.mobile {
  align-items: center;
  display: flex;
  height: 550px;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;

  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 50%;
    z-index: 10;

    h2,
    h5,
    app-button {
      margin: 15px 0;
      min-width: 500px;
    }
  }

  .img {
    margin: auto;
    width: 45%;

    img {
      width: 100%;
    }
  }
}

.mediumWidth {
  flex-direction: column;
  width: 100%;

  .text {
    padding: 100px 0 50px;
    width: 100%;

    h2,
    h5,
    app-button {
      padding: 20px 0;
      min-width: 300px;
    }
  }

  .img {
    text-align: center;

    img {
      padding: 0 0 50px;
      width: 80%;
    }
  }
}

.mobile {
  height: fit-content;
  flex-direction: column;
  margin-top: 30px;

  .text {
    width: 100%;

    h2,
    h5,
    app-button {
      min-width: 300px;
    }
  }

  .img {
    text-align: center;
    padding: 20px 0 50px;
    margin: unset;
    width: 100%;

    img {
      width: 95%;
    }
  }
}
