.container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  padding: 50px 0 100px;
  width: 100%;

  h3 {
    margin-bottom: 50px;
    text-align: center;
  }

  .team {
    display: flex;
    justify-content: space-between;

    profile-panel {
      width: 30%;
    }
  }

  .line {
    background-color: var(--border);
    height: 1px;
    margin: 50px 0;
    width: 100%;
  }

  .tru {
    align-items: center;
    display: flex;
    justify-content: center;

    img {
      margin: 0 15px;
      width: 200px;
    }

    p {
      font-size: 24px;
      font-style: italic;
      margin: 0 15px;
      width: 665px;
    }
  }
}

.mobile {
  .team {
    flex-wrap: wrap;
    profile-panel {
      margin-top: 30px;
      width: 100%;
    }
  }

  .tru {
    flex-direction: column;

    p {
      margin-top: 30px;
      width: unset;
    }
  }
}
