<h3 class="header">Get in Touch With Us</h3>
<form [formGroup]="contactForm" name="contact" method="post">
  <input class="form-row" type="hidden" name="form-name" value="contact" />
  <div style="display: none;">
    <input name="bot-field" />
  </div>
  <input
    class="form-row"
    type="text"
    name="name"
    formControlName="name"
    placeholder="NAME"
    required
  />
  <div class="short-row">
    <input
      class="form-row"
      type="email"
      name="email"
      formControlName="email"
      placeholder="EMAIL"
      required
    />
    <div class="spacer"></div>
    <input
      class="form-row"
      type="text"
      name="phone"
      formControlName="phone"
      placeholder="PHONE"
      required
    />
  </div>
  <textarea
    class="form-row textarea"
    id="message"
    name="message"
    formControlName="message"
    placeholder="WHAT HAVE YOU GOT FOR US?"
    required
  ></textarea>
  <p class="error" *ngIf="showErrorState">
    * Please make sure all fields are complete
  </p>
  <app-button
    text="Let's Do This"
    type="submit"
    (click)="onSubmit()"
  ></app-button>
</form>
