<form
  [formGroup]="contactForm"
  name="contact"
  method="post"
  (ngSubmit)="onSubmit()"
>
  <input class="form-row" type="hidden" name="form-name" value="contact" />
  <div style="display: none;">
    <input name="bot-field" />
  </div>

  <app-input
    *ngFor="let input of inputs"
    [name]="input.name"
    [type]="input.type"
    [formControlName]="input.name"
  ></app-input>
  <!-- <input
    class="form-row"
    type="text"
    name="name"
    formControlName="name"
    required
  />
  <input
    class="form-row"
    type="email"
    name="email"
    formControlName="email"
    required
  />
  <input class="form-row" type="text" name="phone" formControlName="phone" />
  <textarea
    class="form-row textarea"
    id="message"
    name="message"
    formControlName="message"
    required
  ></textarea> -->
  <app-button text="Let's Do This"></app-button>
</form>
