.container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  padding: 50px 0 100px;
  text-align: center;
  width: 100%;

  .header {
    display: flex;
    flex-direction: column;

    h5 {
      margin: 30px 0 50px;
    }
  }

  .services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    profile-panel {
      margin-bottom: 50px;
      width: 30%;
    }
  }

  .line {
    background-color: var(--grey);
    height: 1px;
    margin: 50px 0;
    width: 100%;
  }

  span {
    color: var(--red);
    cursor: pointer;
  }
}
