<div [ngClass]="{ 'main-container': hamburgerOpen }">
  <app-header class="page-container grey"></app-header>
  <app-hero class="page-container white"></app-hero>
  <app-team id="team" class="page-container light-grey"></app-team>
  <app-services id="services" class="page-container med-grey"></app-services>
  <!-- <app-testimonials id="testimonials" class="page-container red"></app-testimonials> -->
  <app-contact id="contact" class="page-container white"></app-contact>
  <app-footer class="page-container grey"></app-footer>
</div>
