.main-container {
  position: fixed;
  overflow: hidden;
}

.page-container {
  color: var(--text);
  display: flex;
  justify-content: center;
  padding: 0 30px;
}

.grey {
  background-color: var(--grey);
  color: var(--white);
}
.red {
  background-color: var(--red);
}
.white {
  background-color: var(--white);
}
.light-grey {
  background-color: var(--light-grey);
}
.med-grey {
  background-color: var(--med-grey);
}
