.button {
  background-color: var(--button-red);
  border-radius: 5px;
  color: var(--white);
  cursor: pointer;
  font-size: 18px;
  padding: 15px 25px;
  width: fit-content;
}

.mobile {
  margin: auto;
  text-align: center;
  width: 250px;
}
