nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 550px;

  .link {
    color: var(--white);
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    &:hover {
      color: var(--button-red);
    }
    &:visited {
      color: unset;
    }
  }
}

.mobile {
  align-items: center;
  flex-direction: column;
  padding-top: calc(50vh - 100px);
  width: 100%;

  .link {
    padding-bottom: 40px;
  }
}
