:root {
  --text: #000000;
  --red: #8e0000;
  --button-red: #c62828;
  --grey: #333333;
  --border: #cccccc;
  --white: #ffffff;
  --light-grey: #f7f7f7;
  --med-grey: #d8d8d8;
}

body {
  box-sizing: border-box;
  color: var(--text);
  font-family: 'Lato';
  margin: 0;
  font-size: 16px;

  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    font-weight: normal;
    margin: 0;
    padding: 0;
  }

  h2 {
    font-family: 'Merriweather';
    font-size: 36px;
  }

  h3 {
    font-family: 'Merriweather';
    font-size: 30px;
  }

  h4 {
    color: var(--red);
    font-family: 'Merriweather';
    font-size: 24px;
  }

  h5 {
    font-size: 20px;
  }
}
