<div class="container">
  <contact-form class="form"></contact-form>
  <hr />
  <div class="location">
    <iframe
      class="map"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d443090.1893500749!2d-95.68148369766872!3d29.81688238793649!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8640b8b4488d8501%3A0xca0d02def365053b!2sHouston%2C%20TX!5e0!3m2!1sen!2sus!4v1582498312058!5m2!1sen!2sus"
      width="550"
      height="350"
      frameborder="0"
      style="border:0;"
      allowfullscreen=""
    ></iframe>
    <h3>Proudly Serving Houston, TX</h3>
    <p>
      Give us a call at 713-XXX-XXXX or fill out the form and we’ll get back to
      you promptly.
    </p>
    <p>We’re excited to meet you!</p>
  </div>
</div>
