.container {
  display: flex;
  max-width: 1200px;
  padding: 50px 0 100px;
  width: 100%;

  .form,
  .location {
    width: 50%;
  }

  hr {
    margin: 0 50px;
  }

  .map {
    border-radius: 5px;
  }

  h3 {
    margin: 50px 0 30px;
  }

  p {
    margin-bottom: 20px;
  }
}
