.container,
.mobile {
  display: flex;
  max-width: 1200px;
  padding: 50px 0 100px;
  width: 100%;

  .form,
  .location {
    width: 50%;
  }

  hr {
    margin: 0 50px;
  }

  .map {
    border-radius: 5px;
  }

  h3 {
    font-size: 28px;
    margin: 50px 0 30px;
  }

  p {
    margin-bottom: 20px;
  }

  iframe {
    max-width: 100%;
  }
}

.mobile {
  flex-direction: column;

  .form,
  .location,
  iframe {
    width: 100%;
  }

  .line {
    background-color: var(--grey);
    height: 1px;
    margin: 50px 0;
    width: 100%;
  }

  .text {
    text-align: center;
  }
}

a {
  color: var(--button-red);
  text-decoration: none;
  &:hover {
    color: var(--button-red);
  }
  &:visited {
    color: unset;
  }
}
